h1 {
  color: blue;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 80%;
}

.select {
   width: 100px;
   height: 30px; 
}

.nome {
    width: 100px;
    height: 20px;

}