h1 {
  color: blue;
}

.FormulárioPrincipal {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80vh;
}

.select {
   width: 100px;
   height: 30px; 
}

.nome {
    width: 100px;
    height: 20px;

}