h1 {
  color: blue;
  align-items: center;
}

.form {
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.RHuv5-0Vs1vTdhtpx1uc1QHaEK?rs=1&pid=ImgDetMain&o=7&rm=3");
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 80%;
    margin-left: 10px;
    border-color: brown;
    border: brown;
}

.select {
   width: 100px;
   height: 30px; 
}

.nome {
    width: 100px;
    height: 20px;

}